<!DOCTYPE html>
<html lang="en" ng-app="rental">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>LAP Exotic Car Rentals</title>
</head>

<body class="container" ng-controller="RentalController as rental">
    <h1 class="text-center">"LAP Exotic Car Rental"</h1>
    <ul class="list-group">
        <li class="list-group-items" ng-repeat="product in store.products">
    <h2>{{product.make}} {{product.model}} {{product.year}} {{product.description}}
    {{product.available}} {{product.booked}} ${{product.price}}</h2>
    <!--<div ng-repeat ="product in rental.products" class="product row">-->
    <!--<div ng-hide ="product.soldOut">-->
    <!--<button ng-show ="product.rentaCar">Rent a Car</button>-->
    <!--</div>-->
    <!--</div>-->
    </li>
    </ul>
    <!--<ul class="list-group" ng-repeat="product in rental.products">-->
    <!--    <li class="list-group-item" >-->
    <!--        <h2>{{product.year}} {{product.make}} {{product.model}} {{product.type}}</h2>-->
    <!--        <img ng-src="{{product.images[0].full}}"/>-->
    <!--        <div>-->
    <!--        <button id="rentButton" ng-click="decreaseNumAvail(product)" ng-hide="{{product.unavailable}}" class="btn btn-danger">Rent Now</button>-->
    <!--        </div>-->
    <!--        <h4 ng-hide="{{product.unavailable}}">{{product.price | currency}} per day</h4>-->
    <!--        <h4 ng-show="{{product.unavailable}}">{{product.unavailableText}}</h4>-->
            
    <!--        <section ng-init="tab = 1" >-->
    <!--            <ul class="nav nav-pills">-->
    <!--                <li ng-class="{ active: tab === 1 }">-->
    <!--                    <a href ng-click="tab = 1">Description</a>-->
    <!--                </li>-->
    <!--                <li ng-class="{ active: tab === 2 }">-->
    <!--                    <a href ng-click="tab = 2">Specs</a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </section>-->
    <!--            <div class="panel" ng-show="tab === 1">-->
    <!--                <h4>Description</h4>-->
    <!--                <p>{{product.description}}</p>-->
    <!--            </div>-->
    <!--            <div class="panel" ng-show="tab === 2">-->
    <!--                <h4>Specs</h4>-->
    <!--                <ul>-->
    <!--                    <li>-->
    <!--                        {{product.specs[0].transmission}}-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        {{product.specs[0].drivetrain}}-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        {{product.specs[0].mpg}}-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--    </li>-->
    <!--</ul>-->

 <!--<h3>Renter's Name</h3>-->
 <!--   <form id="rentCar">-->
        
 <!--       <h1>Type of Car </h1>-->

 <!--           <h3>Car Info</h3>-->
 <!--           <p>Available:<span id="available"></p>-->
 <!--           <p>Price:<span id="price"></p>-->
            
 <!--       <br>-->
 <!--       <input type="submit" value="Submit">-->
    
        <!--<button type="submit">Submit </button>-->
    <!--</form>-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <!--<script type="text/javascript" src="angular.min.js"></script>-->
    <script type="text/javascript" src="app.js"></script>
</body>

</html>