h1, p {
    font-family: 'times', sans-serif;
    color: #00688B;
}

h1 {
    font-weight: 300;
}

h2 {
    color: #00688B;
}
ul {
    list-style-type:none
}

.top {
    background-color: #00688B;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    text-shadow: rgb(0,0,0,0);
}

button {
    margin-bottom: 10px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng.valid.ng-dirty {
    border-color: #78FA89;
}